.text-and-value-container {
  letter-spacing: 0.2px;
  margin: 0.5rem 0;
}

.text-and-value-container .title {
  font-weight: 700;
}

.text-and-value-container .value {
  padding: 0.25em 0.25em;
  font-size: 12px;
  min-width: 1.25rem;
  border-radius: 4px;
}

.text-and-value-container .text-dark {
  color: var(--black-color);
}
