@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ebony-color: #555d50;
  --black-color: #0e0e0e;
  --white-color: #f1f1f1;
  --red-color: #ff343a;
  --purple-color: #40047b;
  --yellow-color: #ffd700;
  --gray-color: #aaaaaa;
}

.text-overflow {
  text-overflow: ellipsis;
}
